[Desktop Entry]
Comment[en_AU]=Facebook Messenger
Comment=Facebook Messenger
Exec=/home/migue/Tweaks/nativefier-scripts/build/Messenger-linux-x64/Messenger --enable-features=UseOzonePlatform --ozone-platform=wayland
GenericName[en_AU]=
GenericName=
Icon=com.Facebook.Messenger
MimeType=
Name[en_AU]=Messenger
Name=Messenger
Path=
StartupNotify=false
StartupWMClass=com.Facebook.Messenger
Categories=Network;InstantMessaging;
Terminal=false
TerminalOptions=
Type=Application
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
