#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Microsoft Teams
Comment=Microsoft Teams
Icon=com.Microsoft.Teams
Exec=/home/migue/Tweaks/nativefier-scripts/build/MicrosoftTeams-linux-x64/MicrosoftTeams --enable-features=WaylandWindowDecorations
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=com.Microsoft.Teams
Categories=Network;InstantMessaging;Office;
