#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Messenger
Comment=Facebook Messenger
Icon=com.Facebook.Messenger
Exec=/home/migue/Tweaks/nativefier-scripts/build/Messenger-linux-x64/Messenger
Terminal=false
Type=Application
StartupWMClass=Messenger
Categories=Internet;
