#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Outlook
Comment=Microsoft Outlook
Icon=com.Microsoft.Outlook
Exec=/home/migue/Tweaks/nativefier-scripts/build/Outlook-linux-x64/Outlook --enable-features=UseOzonePlatform --ozone-platform=wayland
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=com.Microsoft.Outlook
Categories=Internet;Email;Office
