#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Outlook
Comment=Microsoft Outlook
Icon=/home/migue/.local/share/icons/hicolor/512x512/com.Microsoft.Outlook.png
Exec=/home/migue/Tweaks/nativefier-scripts/build/Outlook-linux-x64/Outlook
Terminal=false
Type=Application
StartupWMClass=Outlook
Categories=Internet;Email;Office
